/* Start of Universal */
body {
    background-color: #112F57;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

header {
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
}

header h1 {
    text-indent: 10px;
    font-size: 100px;
    color: white;
    margin-bottom: 0px;
    border-bottom-width: 10px;
    border-style: solid;
    border-color: white;
}

header a {
    text-indent: 20px;
    font-size: 25px;
    color: white;
    padding-left: 10px;
    text-decoration: none;
}

.gameName {
    margin-top: -15px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.game {
    margin: auto;
    margin-top: 20px;
    height: auto;
    width: 500px; /* Corrected */
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to right,#009FFF,#EC2F4B) 1;
    border-radius: 50px;
    text-align: center;
}

/* End of Universal */

/* Start of Unique */
#board {
    border-image: linear-gradient(to right,#009FFF,#EC2F4B);
    display: block; /* Ensure it's block-level */
    margin: 0 auto; /* Center the canvas */
}

/* End of Unique */
